.wrapper {
  max-width: 1400px;
  margin: auto;
  padding: 0 16px;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  grid-gap: 20px;

  .game:nth-child(9n + 1),
  .game:nth-child(9n + 5),
  .game:nth-child(9n + 9) {
    grid-column-start: span 2;
    background-size: cover;
    background-position: center;
  }

  .game {
    position: relative;
    background: cornflowerblue;
    height: 400px;
    cursor: pointer;

    .actions-button {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;

      &.visible {
        display: block;
      }
    }

    &:hover .actions-button {
      display: block;
    }

    .description {
      position: absolute;
      bottom: 0;
      height: 100px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      padding: 10px;
      cursor: default;

      .buy-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
          margin: 0;
          color: #fff;
          font-size: 32px;
          font-weight: 300;
        }

        .buy-button {
          background-color: #c54e35;
          width: 100px;
        }
      }

      .description-section {
        position: absolute;
        bottom: 5px;
        color: #fff;

        .genres, .name {
          margin: 0;
        }

        .genres {
          font-size: 15px;
          font-weight: 300;
        }

        .name {
          font-size: 16px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          &, &:active, &:visited {
            color: #fff;
          }
        }
      }
    }
  }
}

.delete-menu-option {
  &, mat-icon {
    color: #C03221;
  }
}
