<h2 mat-dialog-title>Sign In</h2>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" id="sign-in-form">
    <mat-form-field appearance="standard" class="full-width-input">
      <input matInput class="login" placeholder="Username or email" formControlName="login" required #login>
      <mat-icon matSuffix>login</mat-icon>
      <mat-error *ngIf="form.controls['login'].hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" class="full-width-input">
      <input matInput class="password" [type]="hidePassword ? 'password' : 'text'" placeholder="Password"
             formControlName="password" required #password>
      <button class="show-hide-password" type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['password'].hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="remember" class="remember-me">Remember me</mat-checkbox>
  </form>
  <div class="sign-up-section">
    <span>Do not have an account yet? </span>
    <button class="link-button" (click)="signUp()">Sign up</button>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button [disabled]="inProgress" [mat-dialog-close]="undefined">Cancel</button>
  <button type="submit" form="sign-in-form" [disabled]="form.invalid || inProgress" mat-raised-button
          color="primary">
    Sign In
  </button>
</div>
