#sign-in-form {

  .full-width-input {
    width: 100%;
  }

  .show-hide-password {
    margin: 0 -5.5px 0 0;
  }

  .remember-me {
    margin: 24px 0 12px;
  }
}

.sign-up-section {
  margin: 10px 0;
}
