* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container {
  color: white;

  &.success {
    background-color: var(--color-snack-bar-success);
  }

  &.error {
    background-color: var(--color-snack-bar-error);
  }
}

mat-error {
  font-size: 12px;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
}

.link-button {
  background: none;
  border: none;
  padding: 3px;
  color: #2175ff;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.delete-menu-option {
  &, mat-icon {
    color: var(--color-warn) !important;
  }
}
