* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container {
  color: white;

  &.success {
    background-color: var(--color-snack-bar-success);
  }

  &.error {
    background-color: var(--color-snack-bar-error);
  }
}

mat-error {
  font-size: 12px;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
}
