<div class="wrapper">
  <div *ngIf="loading && !loadingError" class="loading-wrapper">
    <mat-spinner></mat-spinner>
  </div>

  <ng-container *ngIf="!loading && !loadingError">
    <p class="game-name">{{game.name}}</p>
    <div class="container">
      <div>
        <img [src]="getGameImageUrl(game)" alt="Game image" class="image">
        <div class="buy-section">
          <p class="price">{{game.price | currency}}</p>
          <button mat-raised-button color="accent" class="buy-button" (click)="addGameToCart(game)">
            <mat-icon fontSet="material-icons-outlined">shopping_cart</mat-icon>
            BUY
          </button>
        </div>

        <hr class="divider">

        <div class="genre-list">
          <p *ngFor="let genre of game.genres" class="genre">{{genre}}</p>
        </div>
        <div class="platform-list">
          <p *ngFor="let platform of game.platformTypes" class="platform">{{platform}}</p>
        </div>

        <hr class="divider hide">
      </div>

      <div>
        <p class="description">{{game.description}}</p>

        <hr class="divider">

        <div class="create-comment-section">
          <form class="create-comment-form" (ngSubmit)="postCreatedComment()" #form="ngForm">
            <mat-form-field class="body-field" appearance="outline">
              <mat-label>Comment</mat-label>
              <textarea [(ngModel)]="commentCreationData.body" name="body" matInput maxlength="600" rows="6"
                        #body></textarea>
            </mat-form-field>

            <button class="send-button" type="submit"
                    [disabled]="sendingCreateRequest || form.invalid || !body.value.trim()"
                    mat-raised-button
                    color="primary">
              Post
            </button>
          </form>
        </div>

        <ul class="comment-list root-list">
          <ng-container *ngTemplateOutlet="commentList; context:{ $implicit: rootComments }"></ng-container>
        </ul>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #commentList let-list>
  <li *ngFor="let comment of list">
    <ng-container *ngTemplateOutlet="commentTemplate; context: {$implicit: comment}"></ng-container>
    <ul class="comment-list" *ngIf="getChildren(comment).length > 0">
      <ng-container *ngTemplateOutlet="commentList; context:{ $implicit: getChildren(comment) }"></ng-container>
    </ul>
  </li>
</ng-template>

<ng-template #commentTemplate let-comment>
  <div class="comment"
       [ngClass]="{'root-comment': comment.parentId === null,
       'root-has-children': rootAndHasChildren(comment),
       'deleted': isCommentDeleted(comment)}">
    <div class="comment-info">
      <img class="avatar" [src]="getCommentUserAvatarUrl(comment)" alt="user avatar">
      <p class="username">{{getFullUserNameFromComment(comment)}}</p>
      <p class="date">{{comment.creationDate | timeSince}}</p>
      <button class="actions-button"
              *ngIf="isCurrentUserAuthorIfComment(comment)"
              mat-icon-button
              [class.visible]="menuTrigger.menuOpen"
              [matMenuTriggerFor]="commentActionsMenu" [matMenuTriggerData]="{$implicit: comment}"
              #menuTrigger="matMenuTrigger" (click)="$event.stopPropagation()">
        <mat-icon fontSet="material-icons-outlined">more_horiz</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="!isCommentEditing(comment) else editCommentTemplate">
      <p class="body">{{comment.body}}</p>
      <button *ngIf="!isCommentReplying(comment)" class="link-button reply-button" (click)="replyComment(comment)">Reply
      </button>
    </ng-container>
    <ng-template #editCommentTemplate>
      <form class="edit-comment-form" (ngSubmit)="saveEditedComment(comment)" #form="ngForm">
        <mat-form-field class="body-field" appearance="outline">
          <mat-label>Comment</mat-label>
          <textarea [(ngModel)]="commentUpdateData.body" name="body" matInput maxlength="600" rows="6"
                    (keydown.escape)="cancelCommentEditing()"
                    #editCommentBody></textarea>
        </mat-form-field>

        <div class="buttons-container">
          <button type="button" mat-raised-button (click)="cancelCommentEditing()">
            Cancel
          </button>
          <button type="submit" [disabled]="sendingUpdateRequest || form.invalid || !editCommentBody.value.trim()"
                  mat-raised-button
                  color="primary">
            Save
          </button>
        </div>
      </form>
    </ng-template>
    <ng-container *ngIf="isCommentReplying(comment)">
      <form class="reply-comment-form" (ngSubmit)="postReplyComment(comment)" #form="ngForm">
        <mat-form-field class="body-field" appearance="outline">
          <mat-label>Reply</mat-label>
          <textarea [(ngModel)]="commentReplyData.body" name="body" matInput maxlength="600" rows="6"
                    (keydown.escape)="cancelCommentReply()"
                    #replyCommentBody></textarea>
        </mat-form-field>

        <div class="buttons-container">
          <button type="button" mat-raised-button (click)="cancelCommentReply()">
            Cancel
          </button>
          <button type="submit" [disabled]="sendingReplyRequest || form.invalid || !replyCommentBody.value.trim()"
                  mat-raised-button
                  color="primary">
            Post
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</ng-template>

<mat-menu #commentActionsMenu="matMenu" xPosition="before">
  <ng-template matMenuContent let-comment>
    <ng-container *ngIf="!isCommentDeleted(comment) else deletedCommentActions">
      <button mat-menu-item (click)="editComment(comment)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item class="delete-menu-option" (click)="deleteComment(comment)">
        <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
        <span>Delete</span>
      </button>
    </ng-container>

    <ng-template #deletedCommentActions>
      <button mat-menu-item (click)="restoreComment(comment)">
        <mat-icon fontSet="material-icons-outlined">restore</mat-icon>
        <span>Restore</span>
      </button>
    </ng-template>
  </ng-template>
</mat-menu>
