<div class="wrapper">
  <div *ngIf="loading && !loadingError" class="loading-wrapper">
    <mat-spinner></mat-spinner>
  </div>

  <ng-container *ngIf="!loading && !loadingError">
    <img [src]="getGameImageUrl(game)" alt="Game image" class="image">
    <p class="game-name">{{game.name}}</p>
    <div class="buy-section">
      <p class="price">{{game.price | currency}}</p>
      <button mat-raised-button color="primary" class="buy-button">
        <mat-icon>shopping_cart</mat-icon>
        BUY
      </button>
    </div>

    <hr class="divider">

    <div class="genre-list">
      <p *ngFor="let genre of game.genres" class="genre">{{genre}}</p>
    </div>
    <div class="platform-list">
      <p *ngFor="let platform of game.platformTypes" class="platform">{{platform}}</p>
    </div>

    <hr class="divider">

    <p class="description">{{game.description}}</p>
  </ng-container>
</div>
