<div class="container">
  <h2 mat-dialog-title>Your Cart</h2>

  <div class="cart-items-container">
    <div class="items-list" *ngIf="!cart.isEmpty; else emptyCartTemplate">
      <ng-container *ngFor="let item of cart.items | async">
        <ng-container *ngTemplateOutlet="itemTemplate; context:{ $implicit: item }"></ng-container>
      </ng-container>
    </div>
  </div>

  <p class="total-price">Total {{cartTotalPrice | async | currency}}</p>

  <div class="actions">
    <button mat-stroked-button color="primary" (click)="closeCart()">Continue shopping</button>
    <button mat-raised-button color="accent" [disabled]="cart.isEmpty" (click)="checkout()">Checkout</button>
  </div>
</div>

<ng-template #itemTemplate let-item>
  <div class="item-container">
    <img class="image" [src]="getGameImageUrl(item.game)" alt="Game image">
    <div class="name-price-container">
      <p class="name">{{item.game.name}}</p>
      <p class="price">{{item.game.price | currency}} x {{item.quantity}}</p>
      <p class="total-items-price">{{item.game.price * item.quantity | currency}}</p>
    </div>
    <div class="quantity-control">
      <button mat-icon-button class="quantity-button" (click)="increaseQuantity(item.game, 1)" color="primary">
        +
      </button>
      <p class="quantity-label">{{item.quantity}}</p>
      <button mat-icon-button class="quantity-button" (click)="increaseQuantity(item.game, -1)" color="primary">
        −
      </button>
    </div>
    <button class="remove-item" mat-icon-button color="accent" (click)="cart.removeGame(item.game)">
      <mat-icon fontSet="material-icons-outlined">close</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #emptyCartTemplate>
  <p class="cart-empty-text">There are no items</p>
</ng-template>
