<div class="container">
  <h2 mat-dialog-title>Your Cart</h2>

  <div class="car-items-container">
    <div class="items-list" *ngIf="!cart.isEmpty; else emptyCartTemplate">
      <ng-container *ngFor="let item of cart.items | async">
        <ng-container *ngTemplateOutlet="itemTemplate; context:{ $implicit: item }"></ng-container>
      </ng-container>
    </div>
  </div>

  <p class="total-price">Total {{cart.totalPrice | async | currency}}</p>

  <div class="actions">
    <button mat-stroked-button color="primary" (click)="closeCart()">Continue shopping</button>
    <button mat-raised-button color="accent" [disabled]="cart.isEmpty" (click)="checkout()">Checkout</button>
  </div>
</div>

<ng-template #itemTemplate let-item>
  <div class="item-container">
    <img class="game-image" [src]="getGameImageUrl(item.game)" alt="Game image">
    <div class="name-price-container">
      <span class="game-name">{{item.game.name}}</span>
      <div class="price-quantity-container">
        <p class="price">{{item.game.price | currency}}</p>
        <div class="quantity-control">
          <button mat-icon-button class="quantity-button" (click)="increaseQuantity(item.game, -1)" color="primary">−
          </button>
          <p class="quantity-label">{{item.quantity}}</p>
          <button mat-icon-button class="quantity-button" (click)="increaseQuantity(item.game, 1)" color="primary">+
          </button>
        </div>
      </div>
    </div>
    <button class="remove-item" mat-icon-button color="accent" (click)="cart.removeGame(item.game)">
      <mat-icon fontSet="material-icons-outlined">close</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #emptyCartTemplate>
  <p class="cart-empty-text">There are no items</p>
</ng-template>
