<div class="header">
  <div class="wrapper">
    <div class="logo" routerLink="/games">
      <img src="assets/logo.png" alt="logo">
      <span>Game Store</span>
    </div>

    <div class="menu">
      <nav class="navigation">
        <ul class="nav-links">
          <li>
            <a routerLink="/games" routerLinkActive="active-link">
              Games
            </a>
          </li>
          <li>
            <a routerLink="/community" routerLinkActive="active-link">
              Community
            </a>
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="active-link">
              About
            </a>
          </li>

          <li>
            <a routerLink="/support" routerLinkActive="active-link">
              Support
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="cart">
      <button mat-icon-button color="primary" (click)="cart.openCartDialog()">
        <mat-icon fontSet="material-icons-outlined" [matBadge]="cartItemsCount | async" [matBadgeHidden]="cart.isEmpty" matBadgeSize="small" matBadgeColor="accent">shopping_cart</mat-icon>
      </button>
    </div>

    <div *ngIf="!(auth.isLoggedIn | async)" class="right-section unauthorized-section">
      <button mat-stroked-button (click)="signIn()">Sign In</button>
      <button mat-raised-button color="accent" (click)="signUp()">Sign Up</button>
    </div>

    <div *ngIf="auth.isLoggedIn | async" class="right-section authorized-section" [matMenuTriggerFor]="menu">
      <span class="user-name">{{fullUserName}}</span>
      <img class="user-avatar" [src]="avatarUrl" alt="avatar">

      <mat-menu class="user-menu" backdropClass="custom" #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="uploadAvatar()">
          <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
          <span>Upload avatar</span>
        </button>
        <button mat-menu-item (click)="signOut()">
          <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
