.header {
  background-color: #fff;
  height: 64px;
  margin-bottom: 50px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);

  .wrapper {
    display: flex;
    align-items: center;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;
    background-color: inherit;

    .logo {
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
      }

      span {
        font-size: 28px;
        font-style: italic;
        margin: 0;
        color: #0077b6;
        white-space: nowrap;
      }
    }

    .menu {
      display: flex;
      align-items: center;

      .navigation {
        margin: 0 50px;

        .nav-links {
          list-style-type: none;
          display: flex;
          gap: 20px;
          margin: 0;
          padding: 0;
        }

        a {
          text-decoration: none;
          color: #222;
          font-size: 16px;
          font-weight: 500;
          display: block;
          padding: 5px;
          border-bottom: 2px solid transparent;
        }

        a:hover {
          color: #444;
        }

        .active-link {
          border-bottom-color: var(--color-primary);
        }
      }
    }

    .right-section {
      display: flex;
      gap: 10px;
      margin-left: auto;
      align-items: center;
    }

    .unauthorized-section {

    }

    .authorized-section {
      cursor: pointer;
      padding: 5px 0;

      .user-name {
        color: #222;
        font-size: 15px;
      }

      .user-avatar {
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 20px;
      }
    }
  }
}
